@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "reservTable";
    var dpm = ViewData["Department"] as string; //單字as string ， list就as List<string>
    var morning = Model.Where(m => m.Reserv_time.Hour == 8 && m.Reserv_time.Minute == 30).ToList();
    var afternoon = Model.Where(m => m.Reserv_time.Hour == 13 && m.Reserv_time.Minute == 30).ToList();
    var night = Model.Where(m => m.Reserv_time.Hour == 18 && m.Reserv_time.Minute == 00).ToList();
}

<p style="font-size: 25px;"><img src="~/images/reserv.png" width="30px" class="d-inline-block align-text-top" alt="預約時段">@(dpm)預約時段</p>
<hr>

<table class="table" style="text-align: center;">
    <thead>
        <tr>
            <th></th>
            <th>星期一</th>
            <th>星期二</th>
            <th>星期三</th>
            <th>星期四</th>
            <th>星期五</th>
            <th>星期六</th>
            <th>星期日</th>
        </tr>
    </thead>
    <tbody>
        <!-- 上午時段 -->
        <tr>
            <td height: 100px;">
                <img src="/images/830.png" class="d-inline-block align-text-top" alt="時段" style="border-radius: 10px;">
            </td>
            @for (int i = 1; i <= 7; i++)
            {
                <td >
                    <div style="margin:5px; background-color:#E2EDF6; border-radius: 10px;">
                    @if (morning.Any(m => m.Reserv_time.DayOfWeek == (DayOfWeek)i))
                    {
                        <br />
                        <p>@morning.First(m => m.Reserv_time.DayOfWeek == (DayOfWeek)i).Doctor_name 醫師</p>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reserv" asp-action="confirmReserv" asp-route-reserv="@morning.First(m => m.Reserv_time.DayOfWeek == (DayOfWeek)i).Reserv_id">
                            <button type="submit" class="btn btn-info btn-sm d-block d-sm-inline" style="background-color:#65A7B2;border-radius: 10px;">預約</button>
                        </a>
                        <br />
                    }
                    else
                    { 
                        <p> </p>
                    }
                    </div>
                </td>
            }
        </tr>
        <!-- 下午時段 -->
        <tr>
            <td height: 100px;">
                <img src="/images/1330.png" class="d-inline-block align-text-top" alt="時段" style="border-radius: 10px;">
            </td>
            @for (int i = 1; i <= 7; i++)
            {
                <td>
                    <div style="margin:5px; background-color:#E2EDF6; border-radius: 10px;">
                        @if (afternoon.Any(m => m.Reserv_time.DayOfWeek == (DayOfWeek)i))
                        {
                            <br />
                            <p>@afternoon.First(m => m.Reserv_time.DayOfWeek == (DayOfWeek)i).Doctor_name 醫師</p>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reserv" asp-action="confirmReserv">
                                <button type="submit" class="btn btn-info btn-sm d-block d-sm-inline" style="background-color:#65A7B2;border-radius: 10px;">預約</button>
                            </a>
                            <br />
                        }
                        else
                        {
                            <span></span>
                        }
                    </div>
                </td>
            }
        </tr>
        <!-- 晚上時段 -->
        <tr>
            <td height: 100px;">
                <img src="/images/1800.png" class="d-inline-block align-text-top"  alt="時段" style="border-radius: 10px;">
            </td>
            @for (int i = 1; i <= 7; i++)
            {
                <td>
                    <div style="margin:5px; background-color:#E2EDF6; border-radius: 10px;">
                        @if (night.Any(m => m.Reserv_time.DayOfWeek == (DayOfWeek)i))
                        {
                            <br />
                            <p>@night.First(m => m.Reserv_time.DayOfWeek == (DayOfWeek)i).Doctor_name 醫師</p>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reserv" asp-action="confirmReserv">
                                <button type="submit" class="btn btn-info btn-sm d-block d-sm-inline" style="background-color:#65A7B2;border-radius: 10px;">預約</button>
                            </a>
                            <br />
                        }
                        else
                        {
                            <span></span>
                        }
                    </div>
                </td>
            }
        </tr>
    </tbody>
</table>