@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "reservTable";
    var dpm = ViewBag.Department as string; //單字as string ， list就as List<string>
    var hospital = ViewBag.Hospital;
    var morning = Model.Where(m => m.Reserv_time.Hour == 8 && m.Reserv_time.Minute == 30).ToList();
    var afternoon = Model.Where(m => m.Reserv_time.Hour == 13 && m.Reserv_time.Minute == 30).ToList();
    var night = Model.Where(m => m.Reserv_time.Hour == 18 && m.Reserv_time.Minute == 00).ToList();
}
<!-- Breadcrumb -->
<nav aria-label="breadcrumb" style="margin-bottom: 5px;">
    <ol class="breadcrumb" style="background-color: white; padding: 5px; border-radius: 3px;font-size: 0.9rem; line-height: 1.2; ">
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="Account" asp-action="Homepage" class="text-decoration-none" style="color:cornflowerblue">首頁</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="Reserv" asp-action="searchHospital" class="text-decoration-none" style="color:cornflowerblue">查詢可預約醫院</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="Reserv" asp-action="searchDepartment" asp-route-hospital="@hospital" class="text-decoration-none" style="color:cornflowerblue">查詢可預約門診科目</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">預約時段</li>
    </ol>
</nav>

<p style="font-size: 25px;"><img src="~/images/reserv.png" width="30px" class="d-inline-block align-text-top" alt="預約時段">@(dpm)預約時段</p>
<hr>

<!-- 加上 table-responsive 讓表格在小螢幕下可以水平滾動 -->
<div class="table-responsive">
    <table class="table table-borderless" style="table-layout:fixed ;text-align: center;width:100%">
        <thead>
            <tr>
                <th style="min-width:100px"></th>  <!-- 調整 "早上門診圖案" 的欄位寬度 -->
                <th style="width:auto">星期一</th>
                <th style="width:auto">星期二</th>
                <th style="width:auto">星期三</th>
                <th style="width:auto">星期四</th>
                <th style="width:auto">星期五</th>
                <th style="width:auto">星期六</th>
                <th style="width:auto">星期日</th>
            </tr>
        </thead>
        <tbody>
            <!-- 上午時段 -->
            <tr>
                <td style="height: 120px; vertical-align: middle;">
                    <img src="/images/830.png" class="d-inline-block align-text-top" alt="時段" style="border-radius: 10px; max-width: 100%; height: 120px;">
                </td>
                @for (int i = 1; i <= 7; i++)
                {
                    <td style="height: 120px; vertical-align: middle;">
                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; margin: 2px; width: 100%; background-color: #E2EDF6; border-radius: 10px; gap: 1px;">
                            @foreach (var item in morning.Where(m => m.Reserv_time.DayOfWeek == (DayOfWeek)i))
                            {
                                <p>@item.Doctor_name 醫師</p>
                                @if (item.Reserv_stat == "available")
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Reserv" asp-action="confirmReserv" asp-route-hospital="@hospital" asp-route-reserv="@item.Reserv_id" asp-route-department="@ViewData["Department"]"style="width:100%">
                                        <button type="submit" class="btn btn-info btn-sm d-block d-sm-inline" style="width:100%;background-color:#65A7B2;border-radius: 10px;color:white">預約</button>
                                    </a>
                                }
                                else
                                {
                                    <p style="color:red">預約已滿</p>
                                }
                            }
                            @if (!morning.Any(m => m.Reserv_time.DayOfWeek == (DayOfWeek)i))
                            {
                                <p></p>
                            }
                        </div>
                    </td>
                }
            </tr>

            <!-- 下午時段 -->
            <tr>
                <td style="height: 120px; vertical-align: middle;">
                    <img src="/images/1330.png" class="d-inline-block align-text-top" alt="時段" style="border-radius: 10px; max-width: 100%; height: 120px;">
                </td>
                @for (int i = 1; i <= 7; i++)
                {
                    <td style="height: 120px; vertical-align: middle;">
                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; margin: 2px; width: 100%; background-color: #E2EDF6; border-radius: 10px; gap: 5px;">
                            @foreach (var item in afternoon.Where(m => m.Reserv_time.DayOfWeek == (DayOfWeek)i))
                            {
                                <p>@item.Doctor_name 醫師</p>
                                @if (item.Reserv_stat == "available")
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Reserv" asp-action="confirmReserv" asp-route-hospital="@hospital" asp-route-reserv="@item.Reserv_id" asp-route-department="@ViewData["Department"]"style="width:100%">
                                        <button type="submit" class="btn btn-info btn-sm d-block d-sm-inline" style="background-color:#65A7B2;border-radius: 10px;color:white;width:100%">預約</button>
                                    </a>
                                }
                                else
                                {
                                    <p style="color:red">預約已滿</p>
                                }
                            }
                            @if (!afternoon.Any(m => m.Reserv_time.DayOfWeek == (DayOfWeek)i))
                            {
                                <p></p>
                            }
                        </div>
                    </td>
                }
            </tr>

            <!-- 晚上時段 -->
            <tr>
                <td style="height: 120px; vertical-align: middle;">
                    <img src="/images/1800.png" class="d-inline-block align-text-top" alt="時段" style="border-radius: 10px; max-width: 100%; height: auto;">
                </td>
                @for (int i = 1; i <= 7; i++)
                {
                    <td style="height: 120px; vertical-align: middle;">
                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; margin: 2px; width: 100%; background-color: #E2EDF6; border-radius: 10px; gap: 5px;">
                            @foreach (var item in night.Where(m => m.Reserv_time.DayOfWeek == (DayOfWeek)i))
                            {
                                <p>@item.Doctor_name 醫師</p>
                                @if (item.Reserv_stat == "available")
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Reserv" asp-action="confirmReserv" asp-route-hospital="@hospital" asp-route-reserv="@item.Reserv_id" asp-route-department="@ViewData["Department"]" style="width:100%">
                                        <button type="submit" class="btn btn-info btn-sm d-block d-sm-inline" style="background-color:#65A7B2;border-radius: 10px;color:white;width:100%">預約</button>
                                    </a>
                                }
                                else
                                {
                                    <p style="color:red">預約已滿</p>
                                }
                            }
                            @if (!night.Any(m => m.Reserv_time.DayOfWeek == (DayOfWeek)i))
                            {
                                <p></p>
                            }
                        </div>
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>