@model WebApplication1.Models.MRecord

@{
    ViewData["Title"] = "Details";
}

<h2>病歷詳情</h2>

<div>
    <h4>MRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            患者姓名
        </dt>
        <dd class = "col-sm-10">
            @ViewData["PatientName"]
        </dd>
        <dt class = "col-sm-2">
            醫生姓名
        </dt>
        <dd class = "col-sm-10">
            @ViewData["DoctorName"] 醫師
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MRecord_diagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MRecord_diagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MRecord_treatmentplan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MRecord_treatmentplan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MRecord_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MRecord_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MRecord_prescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MRecord_prescription)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-primary" onclick="history.back()">回上一頁</button>
</div>
