@model WebApplication1.Models.MRecord

@{
    ViewData["Title"] = "Details";
}
<!-- Breadcrumb -->
<nav aria-label="breadcrumb" style="margin-bottom: 5px;">
    <ol class="breadcrumb" style="background-color: white; padding: 5px; border-radius: 3px;font-size: 0.9rem; line-height: 1.2; ">
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="Account" asp-action="Homepage" class="text-decoration-none" style="color:cornflowerblue">首頁</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="MRecord" asp-action="searchPage" class="text-decoration-none" style="color:cornflowerblue">查詢功能</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="MRecord" asp-action="MRecordList" class="text-decoration-none" style="color:cornflowerblue">查詢病例</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">病例詳情</li>
    </ol>
</nav>

<h2>病歷詳情</h2>

<div>
    <h4>MRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            患者姓名
        </dt>
        <dd class = "col-sm-10">
            @ViewData["PatientName"]
        </dd>
        <dt class = "col-sm-2">
            醫生姓名
        </dt>
        <dd class = "col-sm-10">
            @ViewData["DoctorName"] 醫師
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MRecord_diagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MRecord_diagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MRecord_treatmentplan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MRecord_treatmentplan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MRecord_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MRecord_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MRecord_prescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MRecord_prescription)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-primary" onclick="history.back()">回上一頁</button>
</div>
